﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <link type ="text/css" href= "@Url.Content("~/Content/bootstrap/bootstrap.min.css")" rel ="stylesheet" />
    <link type ="text/css" href="@Url.Content("~/Content/bootstrap/bootstrap-theme.min.css")" rel ="stylesheet" />
    <link type ="text/css" href="@Url.Content("~/Content/Site.css")" rel ="stylesheet" />
    <title>@*@ViewBag.Title*@</title>
</head>
<body>
    <script type ="text/javascript" src ="@Url.Content("~/Scripts/jquery-2.0.3.min.js")"></script>
    <script type ="text/javascript" src ="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script type ="text/javascript" src ="@Url.Content("~/Scripts/Site.js")"></script>
    <script type ="text/javascript" src ="@Url.Content("~/Scripts/jquery.cookie.js")"></script>
    @RenderSection("Scripts", required: false)
    @foreach (XBoard b in ViewBag.Boards) {
        <div class="stream"><a href="/@b.Path">@b.Info.Name</a></div>
    }
    @RenderBody()
</body>
</html>
