﻿@inherits  Nancy.ViewEngines.Razor.NancyRazorViewBase<XThread>
@{ Layout = "Shared/_Layout.cshtml"; }

<h1>/@Model.Board.Path - @Model.OpPost.Title</h1>

@Html.Partial("PostForm.cshtml")

<a href ="/@Model.Board.Path">Назад</a>
<div style="float:right">
    <a href="/@(Model.Id).flat">Плоский</a>
    <a href="/@(Model.Id).tree">Дерево</a>
</div>

<div>
    @Html.Partial("Post.cshtml", Model.OpPost)
</div>

@foreach (var reply in Model.GetOrderedReplies()) {
    <div>
        @Html.Partial("Post.cshtml", reply)
    </div>
}

<a href ="/@Model.Board.Path">Назад</a>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            setPostLinkMode(getThreadMode());
            $(".reply-btn").click(function () {
                showPostForm("@Model.Board.Path",
                             $(this).attr("data-op"),
                             $(this).attr("data-parent"));
            });
        })
    </script>
}