﻿@inherits  Nancy.ViewEngines.Razor.NancyRazorViewBase<NeChan.Model.Post>
<table class ="@(Model.IsOp ? "op-post" : "") post" id ="@Model.Number">
    <tr style="border-bottom: 1px dotted gray">
        <td class="posttime">@Model.Created</td>
        <td style="text-align: left; padding-left: 10px; padding-right:10px"><strong>@Model.Title</strong></td>
        <td style="text-align: right">
            <a href="/@Model.OpPostId" title="Зайти в трад" class="postlink" name="@Model.Number">№@Model.Number</a>
        </td>
         <td style="padding:2px 2px 2px 5px; width:20px">
            <div class="reply-btn add__topic" title="Ответить" data-op ="@Model.OpPostId" data-parent ="@Model.Number">+</div>
        </td>
    </tr>
    <tr>
        <td style="text-align: left" colspan="4">
            <div style="float: left">
                @foreach (var a in Model.Attaches) {
                    <a href="/Content/Images/@a.Data">
                        <img style="height:80px" src="/Content/Images/@a.Data" />
                    </a>
                }
                @if(@Model.Attaches.Count>0) {
                    <span class="clearfix"></span>
                }
            </div>
            @if(string.IsNullOrEmpty(Model.HtmlBody)) { 
                @Model.Body
            }
            else {
                @Html.Raw(Model.HtmlBody);
            }
        </td>
    </tr>
</table>
