﻿<div id="postForm">
    <form method="post" role="form" enctype="multipart/form-data" style="margin: 5px">
        <table class="post-frm">
            <tr>
                <td>
                    <input type="hidden" name="opPostId" />
                    <input type="hidden" name="parentId" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" class="form-control" name="title" placeholder="Тема"></td>
                <td>Сажа
                    <input type="checkbox" name="sage">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea class="form-control" name="body" rows="5" placeholder="Ценное сообщение"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="file" name="attach">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" class="btn btn-default" value="Отправить" />
                </td>
            </tr>
        </table>
    </form>
</div>
