﻿@inherits  Nancy.ViewEngines.Razor.NancyRazorViewBase<XThread>
@{ Layout = "Shared/_Layout.cshtml"; }

<h1>/@Model.Board.Path - @Model.OpPost.Title</h1>

@Html.Partial("PostForm.cshtml")

<a href ="/@Model.Board.Path">Назад</a>

<div style="float:right">
    <a href="/@(Model.Id).flat">Плоский</a>
    <a href="/@(Model.Id).tree">Дерево</a>
</div>

@foreach (var reply in Model.GetTree().AsEnumerable(p => p.Number)) {
    <div style="margin-left:@(15*reply.Level)px">
        @Html.Partial("Post.cshtml", reply.Value)
    </div>
}

<a href ="/@Model.Board.Path">Назад</a>


@section Scripts {
    <script type="text/javascript">
        $(function () {
            setPostLinkMode(getThreadMode());
            $(".reply-btn").click(function () {
                showPostForm("@Model.Board.Path",
                             $(this).attr("data-op"),
                             $(this).attr("data-parent"));
            });
        })
    </script>
}