﻿@inherits  Nancy.ViewEngines.Razor.NancyRazorViewBase<BoardPage>
@{ 
    Layout = "Shared/_Layout.cshtml";
}

<a class="reply-btn" id="-1"
    data-op="-1"
    data-parent="-1">Новый тред</a>

@Html.Partial("PostForm.cshtml")

@foreach (var thread in Model.Threads) {
   
    <div>
        @Html.Partial("Post.cshtml", thread.OpPost)
        @if(thread.PostsMissing > 0){
             <text>Сообщений: @thread.PostsTotal из них пропущено (постов: @thread.PostsMissing и изображений: @thread.AttachesMissing)</text>
        }
    </div>

    <div style="margin-left: 20px">
        @foreach (var reply in thread.ExpandedPosts) {
            @Html.Partial("Post.cshtml", reply)
        }
    </div>
}

@section Scripts {
    <script type="text/javascript">
        $(function () {
            setPostLinkMode(getThreadMode());
            $(".reply-btn").click(function () {
                showPostForm("@Model.Board.Path",
                             $(this).attr("data-op"),
                             $(this).attr("data-parent"));
            });
        })
    </script>
}